<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA Calculator</title>

    <link rel="stylesheet" type="text/css" href="css/gpa.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>
<body ng-app="mainApp" ng-controller="GPACtrl">
<div ng-include="'views/navbar.html'"></div>
<hr>
<h1>Calculate your GPA:</h1>

<div class="img-thumbnail">
    <ul class="container-fluid">
        <li class="list-group-item">

            <form ng-submit="addGrades()">
                <input ng-model="textFieldGrades" type="text" size ="50" placeholder="add grades here.">
                <input ng-model="textFieldClasses" type="text" size ="50" placeholder="add classes here.">
                <input ng-model="textFieldCredits" type="text" size ="50" placeholder="add credits here.">
                <input type="submit" value="submit" class="btn btn-primary">
                <!-- working on this still trying to find different items in list ideas.-->
                <span class="floatLeft">Your GPA: {{getGPA()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in data">{{test.text}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    </ul>
</div>

</body>
</html>